@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Suez+One&display=swap');

body{
  margin: 15px 0;
}

html {
  background-color: slategray;
  font-family: 'Suez One', serif;

}

input, button{
  width:70%;
  padding:20px 20px;
  height: 4px;
  vertical-align: center;
  font-family: 'Suez One', serif;

}

textarea {
  width:70%;
  resize: none;
  background-color: darkseagreen;
  height: 200px;
  text-align: right;
  font-family: 'David Libre', serif;
}

/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: darkslategrey;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}