{% extends "layout.html" %}
{% block content %}

    <form action="" method="POST" align="center">
      {{form.hidden_tag()}}
      {{form.csrf}}
        <textarea class="form-control" name="input" id="input" rows="10" cols="82">{{form.input.data}}</textarea>
        <input type="submit" value="נקד לי">
        <textarea id="output" rows="10" cols="82" readonly="readonly" align="center">{{output}}</textarea>
        <button onclick="copyToClipboard();">העתק</button>
    </form>



    <Script>
        function copyToClipboard() {
          var textBox = document.getElementById("output");
          textBox.select();
          document.execCommand("copy");
        }
    </Script>

{% endblock content %}

