<!doctype html>
<html dir="rtl" lang="ar">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ניקוד</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>

  <body>
    <div class="topnav">

      <div class="topnav-centered">
        <a href="/home" class="active">עמוד הבית</a>
      </div>
      <a href="/contact">צור קשר</a>
      <a href="/about">אודות</a>

      <div class="topnav-right">
        <a href="/help">עזרה</a>
        <a href="/intro">מה זה?</a>
      </div>

    </div>

    {% block content %}{% endblock %}

  </body>



</html>